<h3 ng-class="{loadingbar:loading}"><a href="#/home">Guestbook</a> <span ng-show="title"> => {{title}}</span></h3>

<div class="row">
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>ID</td>
				<td>{{message.ID}}</td>
			</tr>
			<tr>
				<td>Created</td>
				<td>{{message.Created|moment:'YYYY-MM-DD HH:mm:ss'}}</td>
			</tr>
			<tr>
				<td>Author</td>
				<td>{{message.Author}}</td>
			</tr>
			<tr>
				<td>Title</td>
				<td>{{message.Title}}</td>
			</tr>
			<tr>
				<td>Content</td>
				<td>{{message.Content}}</td>
			</tr>
			<tr>
				<td>Comments</td>
				<td><span class="badge">{{message.CommentsCount}}</span></td>
			</tr>
		</tbody>
	</table>
</div>

<a href="#/message/view/{{message.ID}}" class="btn btn-default">NO</a>
<td><button ng-click="deleteMessage()" class="btn btn-danger">YES</button></td>