<?xml version="1.0"?>
<doc>
    <assembly>
        <name>Context</name>
    </assembly>
    <members>
        <member name="M:Context.DbContextBuilderExtensions.SetOptions(Microsoft.EntityFrameworkCore.DbContextOptionsBuilder,Microsoft.Extensions.Configuration.IConfiguration)">
            <summary>
            Настроить контекст.
            </summary>
            <param name="optionsBuilder"><see cref="T:Microsoft.EntityFrameworkCore.DbContextOptionsBuilder"/></param>
            <param name="configuration"><see cref="T:Microsoft.Extensions.Configuration.IConfiguration"/></param>
        </member>
        <member name="T:Context.Models.Task">
            <summary>
            Task
            </summary>
        </member>
        <member name="P:Context.Models.Task.Id">
            <summary>
            Id
            </summary>
        </member>
        <member name="P:Context.Models.Task.Name">
            <summary>
            Name
            </summary>
        </member>
        <member name="P:Context.Models.Task.Description">
            <summary>
            Description
            </summary>
        </member>
        <member name="T:Context.Repository.Implementations.TaskRepository">
            <inheritdoc/>
        </member>
        <member name="M:Context.Repository.Implementations.TaskRepository.GetTaskById(System.Int64,System.Threading.CancellationToken)">
            <inheritdoc/>
        </member>
        <member name="M:Context.Repository.Implementations.TaskRepository.GetTasks(System.Threading.CancellationToken)">
            <inheritdoc/>
        </member>
        <member name="T:Context.Repository.Interfaces.ITaskRepository">
            <summary>
            Tasks Data Layer
            </summary>
        </member>
        <member name="M:Context.Repository.Interfaces.ITaskRepository.GetTasks(System.Threading.CancellationToken)">
            <summary>
            Get All Tasks
            </summary>
            <returns><see cref="T:System.Collections.Generic.ICollection`1"/></returns>
        </member>
        <member name="M:Context.Repository.Interfaces.ITaskRepository.GetTaskById(System.Int64,System.Threading.CancellationToken)">
            <summary>
            Get Task By Id
            </summary>
            <param name="id">Id of Task</param>
            <returns><see cref="T:Context.Models.Task"/></returns>
        </member>
    </members>
</doc>
