# Execlued files
packages/*
TestResults/*
Code/ExtactionService.Installer/Debug/*
Code/ExtactionService.Installer/Release/*
Code/ExtractionService/bin/*
Code/ExtractionService/obj/*
Code/ExtractionService.Common/bin/*
Code/ExtractionService.Common/obj/*
Code/MVVM.ExtractionService.DesktopClient/obj/*
Code/MVVM.ExtractionService.DesktopClient/bin/*

# Old version
_swift-code

# Build results
Build/
Source/.vs/SwiftCode/v15/.suo
Source/.vs/SwiftCode/v15/Server/sqlite3/db.lock
Source/SwiftCode.Tests/obj/SwiftCode.Tests.csproj.nuget.g.targets
*.ide
Source/.vs/SwiftCode/v15/Server/sqlite3/storage.ide-shm
swift-code/.editorconfig
swift-code/.editorconfig
Source/SwiftCode.Web/ClientApp/package-lock.json
Source/SwiftCode.Web/ClientApp/.editorconfig
Source/SwiftCode.Tests/obj/SwiftCode.Tests.csproj.nuget.g.props
Source/SwiftCode.Tests/obj/SwiftCode.Tests.csproj.nuget.cache
Source/SwiftCode.Tests/obj/project.assets.json
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.Program.cs
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.pdb
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.dll
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.csprojResolveAssemblyReference.cache
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.csproj.FileListAbsolute.txt
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.csproj.CoreCompileInputs.cache
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.csproj.CopyComplete
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.AssemblyInfoInputs.cache
Source/SwiftCode.Tests/obj/Debug/netcoreapp2.0/SwiftCode.Tests.AssemblyInfo.cs
Source/SwiftCode.DAL/obj/SwiftCode.DAL.csproj.nuget.g.targets
Source/SwiftCode.DAL/obj/SwiftCode.DAL.csproj.nuget.g.props
Source/SwiftCode.DAL/obj/SwiftCode.DAL.csproj.nuget.cache
Source/SwiftCode.DAL/obj/project.assets.json
Source/SwiftCode.DAL/obj/Debug/netcoreapp2.0/SwiftCode.DAL.pdb
Source/SwiftCode.DAL/obj/Debug/netcoreapp2.0/SwiftCode.DAL.dll
Source/SwiftCode.DAL/obj/Debug/netcoreapp2.0/SwiftCode.DAL.csprojResolveAssemblyReference.cache
Source/SwiftCode.DAL/obj/Debug/netcoreapp2.0/SwiftCode.DAL.csproj.FileListAbsolute.txt
Source/SwiftCode.DAL/obj/Debug/netcoreapp2.0/SwiftCode.DAL.csproj.CoreCompileInputs.cache
Source/SwiftCode.DAL/obj/Debug/netcoreapp2.0/SwiftCode.DAL.AssemblyInfoInputs.cache
Source/SwiftCode.DAL/obj/Debug/netcoreapp2.0/SwiftCode.DAL.AssemblyInfo.cs
Source/SwiftCode.Core/obj/SwiftCode.Core.csproj.nuget.g.targets
Source/SwiftCode.Core/obj/SwiftCode.Core.csproj.nuget.g.props
Source/SwiftCode.Core/obj/SwiftCode.Core.csproj.nuget.cache
Source/SwiftCode.Core/obj/project.assets.json
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.pdb
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.dll
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.csprojResolveAssemblyReference.cache
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.csproj.FileListAbsolute.txt
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.csproj.CoreCompileInputs.cache
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.AssemblyInfoInputs.cache
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.AssemblyInfo.cs
Source/SwiftCode.BLL/obj/SwiftCode.BLL.csproj.nuget.g.targets
Source/SwiftCode.BLL/obj/SwiftCode.BLL.csproj.nuget.g.props
Source/SwiftCode.BLL/obj/SwiftCode.BLL.csproj.nuget.cache
Source/SwiftCode.BLL/obj/project.assets.json
Source/SwiftCode.BLL/obj/Debug/netcoreapp2.0/SwiftCode.BLL.pdb
Source/SwiftCode.BLL/obj/Debug/netcoreapp2.0/SwiftCode.BLL.dll
Source/SwiftCode.BLL/obj/Debug/netcoreapp2.0/SwiftCode.BLL.csprojResolveAssemblyReference.cache
Source/SwiftCode.BLL/obj/Debug/netcoreapp2.0/SwiftCode.BLL.csproj.FileListAbsolute.txt
Source/SwiftCode.BLL/obj/Debug/netcoreapp2.0/SwiftCode.BLL.csproj.CoreCompileInputs.cache
Source/SwiftCode.BLL/obj/Debug/netcoreapp2.0/SwiftCode.BLL.AssemblyInfoInputs.cache
Source/.vscode/tasks.json
Source/.vscode/launch.json
Source/.vs/SwiftCode/v15/Server/sqlite3/storage.ide-wal
swift-code/.editorconfig
swift-code/.editorconfig
Source/SwiftCode.BLL/obj/Debug/netcoreapp2.0/SwiftCode.BLL.AssemblyInfo.cs
Source/SwiftCode.Web/bin/Debug/netcoreapp2.0/SwiftCode.Web.deps.json
Source/SwiftCode.Web/bin/Debug/netcoreapp2.0/SwiftCode.Web.dll
Source/SwiftCode.Web/bin/Debug/netcoreapp2.0/SwiftCode.Web.pdb
Source/SwiftCode.Web/bin/Debug/netcoreapp2.0/SwiftCode.Web.runtimeconfig.dev.json
Source/SwiftCode.Web/bin/Debug/netcoreapp2.0/SwiftCode.Web.runtimeconfig.json
Source/SwiftCode.Web/obj/Debug/netcoreapp2.0/SwiftCode.Web.AssemblyInfo.cs
Source/SwiftCode.Web/obj/Debug/netcoreapp2.0/SwiftCode.Web.AssemblyInfoInputs.cache
Source/SwiftCode.Web/obj/Debug/netcoreapp2.0/SwiftCode.Web.csproj.FileListAbsolute.txt
Source/SwiftCode.Web/obj/Debug/netcoreapp2.0/SwiftCode.Web.csproj.CoreCompileInputs.cache
Source/SwiftCode.Web/obj/Debug/netcoreapp2.0/SwiftCode.Web.pdb
Source/SwiftCode.Web/obj/Debug/netcoreapp2.0/SwiftCode.Web.dll
Source/.vs/config/applicationhost.config
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.csproj.CopyComplete
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.csproj.GenerateResource.cache
Source/SwiftCode.Core/obj/Debug/netcoreapp2.0/SwiftCode.Core.Properties.Resources.resources
Source/SwiftCode.Core/obj/SwiftCode.Core.csproj.EntityFrameworkCore.targets
Source/SwiftCode.Web/obj/SwiftCode.Web.csproj.nuget.g.targets
Source/SwiftCode.Web/obj/SwiftCode.Web.csproj.nuget.g.props
Source/SwiftCode.Web/obj/SwiftCode.Web.csproj.nuget.cache
Source/SwiftCode.Web/obj/project.assets.json
Source/SwiftCode.Web/SwiftCode.Web.csproj.user
swift-code/.vscode/launch.json
swift-code/.vscode/tasks.json
swift-code/.vscode/launch.json
