<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1"/>
    </startup>

  <!--Yahoo!  port: 587 | 465-->
  <!--GMail:  port: 587 | 465-->
  <!--Yandex: port: 465 | 25-->
  <system.net>
    <mailSettings>
      <smtp deliveryMethod="Network" from="demon.sender@yandex.com">
        <network
          host="smtp.yandex.com"
          port="25"
          userName="demon.sender@yandex.com"
          password="meTeraNG"
          enableSsl="true"
          defaultCredentials="false"/>
      </smtp>
    </mailSettings>
  </system.net>

  <appSettings>
    <!--Config Extraction Files-->

    <!--The directory, where located files / Source-->
    <add key="SourceDirectory"  value="C:\Program Files\nikifovadim\ExtractionService\Docs"/>
    <!--The directory for copy files / Destination-->
    <add key="TargetDirectory"  value="C:\Program Files\nikifovadim\ExtractionService\Outputs"/>
    <!--Sets of an interval in the minutes-->
    <add key="Interval"         value="1"/>

    <!--Config Email Messager-->

    <!--E-mail Subject-->
    <add key="Subject"          value="Log data report"/>
    <!--E-mail Subject-->
    <add key="Message"          value="See the attached log file."/>
    <!--E-mail Attachment-->
    <add key ="Attachment"      value="C:\Program Files\nikifovadim\ExtractionService\Logs\App.log" />
    <!--E-mail Addresses-->
    <add key="Recipients"       value="nikifovadim@yandex.com"/>
  </appSettings>

</configuration>
